---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div>
    <h1 class=''>Hello! my name is Juan</h1>
    <p>I'm a Backend Developer Junior</p>
  </div>
  <section>
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
      repudiandae animi corporis provident in velit a, minima soluta facilis
      ipsa sapiente itaque magnam eveniet atque quasi, nisi temporibus dolorum
      tempore.
    </p>
  </section>
  <section>
    <h2>Skills</h2>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>Flask</li>
      <li>SQL</li>
      <li>TailwindCSS</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>FastAPI</li>
      <li>Git</li>
      <li>Astro</li>
      <li>RegEx</li>
      <li>GitHub</li>
      <li>Notion</li>
    </ul>
  </section>
  <section>
    <div>
      <div>Project 1</div>
      <div>Project 2</div>
      <div>Project 3</div>
      <div>Project 4</div>
    </div>
  </section>
</Layout>
