---
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
  <div class='my-5'>
    <h1 class='text-2xl font-semibold'>Hello! my name is Juan</h1>
    <p class='mt-1'>I'm a Backend Developer Junior.</p>
  </div>
  <section class='my-5'>
    <h2 class='text-xl font-semibold'>About Me</h2>
    <p class='mt-1'>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo
      repudiandae animi corporis provident in velit a, minima soluta facilis
      ipsa sapiente itaque magnam eveniet atque quasi, nisi temporibus dolorum
      tempore.
    </p>
  </section>
  <Skills />
  <Projects />
</Layout>
