---
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
import Languajes from '../components/Languajes.astro';
import Projects from '../components/Projects.astro';
---

<Layout>
  <div
    class='my-5 flex justify-between md:justify-normal gap-x-5 md:gap-x-14 items-center'
  >
    <div>
      <h1 class='text-2xl font-semibold'>Hello! my name is Juan</h1>
      <p class='mt-1 mb-5'>I'm a Junior Backend Developer.</p>
      <a
        href='./CV_Juan_Fernando_Ordoñez_Martinez.pdf'
        download='CV_Juan_Fernando_Ordoñez_Martinez.pdf'
        class='p-1 px-3 text-xs min-[400px]:text-base rounded-md font-semibold text-gray-200 hover:text-gray-900 bg-gray-800 hover:bg-gray-200 transition-colors'
      >
        Download CV
      </a>
    </div>
    <img
      src='./my_photo.png'
      alt='My Photo'
      class='w-32 md:w-36 rounded-full'
    />
  </div>
  <section class='my-5'>
    <h2 class='text-xl font-semibold'>About Me</h2>
    <p class='mt-1'>
      A committed person, responsible, and lifelong learner. I am guided by
      discipline and honesty. I have a spirit of leadership and keep calm when
      working under pressure. I relate easily to working as a team to accomplish
      the institution's goals.
    </p>
  </section>
  <Skills />
  <Languajes />
  <Projects />
</Layout>
