---

---

<footer
  class='p-4 text-center text-xs min-[400px]:text-base text-white bg-gray-900'
>
  <div class='font-semibold'>
    <p class='mb-3'>Juan Fernando Ordoñez Martinez - 2023</p>
    <a
      href='./CV_Juan_Fernando_Ordoñez_Martinez.pdf'
      download='CV_Juan_Fernando_Ordoñez_Martinez.pdf'
      class='p-1 px-3 text-xs min-[400px]:text-base rounded-md font-semibold text-gray-200 hover:text-gray-900 bg-gray-800 hover:bg-gray-200 transition-colors'
    >
      Download CV
    </a>
  </div>
</footer>
