---
const links = [
  { textShown: 'GitHub', link: 'https://github.com/Juancho7' },
  {
    textShown: 'LinkedIn',
    link: 'https://www.linkedin.com/in/juan-fernando-ordo%C3%B1ez-martinez-752297264/',
  },
  { textShown: 'Download CV', link: '#' },
];
---

<header
  class='p-2 pb-3 flex flex-col gap-y-2 sm:flex-row bg-gray-900 text-white'
>
  <div class='text-center font-semibold'>Juan Fernando Ordoñez Martinez</div>
  <nav>
    <ul class='flex justify-center gap-x-5'>
      {
        links.map((link) => (
          <li>
            <a
              href={link.link}
              target='_blank'
              class='p-1 rounded-sm font-semibold text-gray-200 bg-gray-800'
            >
              {link.textShown}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
