---
const projects = [
  {
    projectTitle: 'This Portfolio',
    repository: 'https://github.com/Juancho7/juan-my-portfolio',
    img: 'https://raw.githubusercontent.com/Juancho7/juan-my-portfolio/master/docs/screenshot.JPG',
    technologies: ['Astro', 'JavaScript', 'TailwindCSS', 'HTML'],
  },
  {
    projectTitle: 'Contacts Crud With Flask',
    repository: 'https://github.com/Juancho7/contacts-crud-flask',
    img: 'https://raw.githubusercontent.com/Juancho7/contacts-crud-flask/master/docs/Screenshot.JPG',
    technologies: ['Flask', 'TailwindCSS', 'HTML'],
  },
  {
    projectTitle: 'Subjects Crud With Django',
    repository: 'https://github.com/Juancho7/subjects_crud_django',
    img: '',
    technologies: ['Django', 'Python', 'HTML'],
  },
  {
    projectTitle: 'Login with Flask and MySQL',
    repository: 'https://github.com/Juancho7/login_flask_mysql',
    img: '',
    technologies: ['Flask', 'Python', 'MySQL', 'HTML'],
  },
  {
    projectTitle: 'Coding Challenges 2022',
    repository: 'https://github.com/Juancho7/coding_challenges_2022',
    img: '',
    technologies: ['Python'],
  },
  {
    projectTitle: 'JavaScript Vanilla Projects',
    repository: 'https://github.com/Juancho7/javascript-vanilla-projects',
    img: '',
    technologies: ['JavaScript, HTML, CSS'],
  },
  {
    projectTitle: 'API Rest with FastAPI',
    repository: 'https://github.com/Juancho7/apirest_fastapi',
    img: '',
    technologies: ['FastAPI', 'Python'],
  },
  {
    projectTitle: '5 Basic Python Projects',
    repository: 'https://github.com/Juancho7/5-basic-python-projects',
    img: '',
    technologies: ['Python'],
  },
  {
    projectTitle: 'Basic To Do App With Tkinder',
    repository: 'https://github.com/Juancho7/todoapp_tkinder',
    img: '',
    technologies: ['Python', 'Tkinder'],
  },
  {
    projectTitle: 'Login With FastAPI and SQLite3',
    repository: 'https://github.com/Juancho7/login_fastapi_sqlite3',
    img: '',
    technologies: ['FastAPI', 'SQLite3', 'Python'],
  },
];
---

<section class='my-10'>
  <div>
    <h2 class='text-xl font-semibold'>Projects</h2>
    <div
      class='mt-2 grid sm:grid-cols-2 md:grid-cols-3 gap-1 md:gap-2 overflow-hidden'
    >
      {
        projects.map((project) => (
          <div class='h-64 text-gray-200 bg-gray-800 rounded-md overflow-hidden'>
            <a
              href={project.repository}
              target='_blank'
              class='block h-full w-full'
            >
              <img
                src={
                  project.img === '' ? './default_screenshot.PNG' : project.img
                }
                alt={project.img}
                class='h-4/6 sm:h-2/4 md:h-3/4 w-full object-cover'
              />
              <div class='my-2 mx-2'>
                <p class='font-semibold'>{project.projectTitle}</p>
                <div class='flex flex-col md:flex-row md:gap-x-2'>
                  <h3 class='font-semibold'>Technologies:</h3>
                  <ul class='flex flex-wrap gap-1 md:gap-x-2'>
                    {project.technologies.map((technology) => (
                      <li>{technology}</li>
                    ))}
                  </ul>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
