---
import Skill from './Skill.astro';
const skills = [
  {
    skillName: 'Python',
    logo: './python_icon.svg',
    colors: 'text-yellow-800 bg-yellow-200',
  },
  {
    skillName: 'Django',
    logo: './django_fill_icon.svg',
    colors: 'text-green-100 bg-green-800',
  },
  {
    skillName: 'Flask',
    logo: './flask_icon.svg',
    colors: 'text-green-800 bg-green-200',
  },
  {
    skillName: 'FastAPI',
    logo: './fastapi_icon.svg',
    colors: 'text-green-800 bg-green-200',
  },
  {
    skillName: 'SQL',
    logo: './sql_icon.svg',
    colors: 'text-gray-800 bg-gray-200',
  },
  {
    skillName: 'HTML',
    logo: './html5__icon.svg',
    colors: 'text-orange-800 bg-orange-200',
  },
  {
    skillName: 'CSS',
    logo: './css3_icon.svg',
    colors: 'text-blue-100 bg-blue-500',
  },
  {
    skillName: 'TailwindCSS',
    logo: './tailwind_icon.svg',
    colors: 'text-sky-700 bg-sky-200',
  },
  {
    skillName: 'JavaScript',
    logo: './javascript_icon.svg',
    colors: 'text-yellow-900 bg-yellow-300',
  },
  {
    skillName: 'Astro',
    logo: './astro_icon.svg',
    colors: 'text-orange-50 bg-orange-700',
  },
  {
    skillName: 'Git',
    logo: './git_icon.svg',
    colors: 'text-red-800 bg-red-200',
  },
  {
    skillName: 'GitHub',
    logo: './github_icon.svg',
    colors: 'text-gray-800 bg-gray-200',
  },
  {
    skillName: 'RegEx',
    logo: './regex_icon.svg',
    colors: 'text-neutral-900 bg-neutral-100',
  },
  {
    skillName: 'Notion',
    logo: './notion_icon.svg',
    colors: 'text-neutral-800 bg-neutral-100',
  },
];
---

<section class='my-5'>
  <h2 class='text-xl font-semibold'>Skills</h2>
  <ul class='mt-4 flex flex-wrap gap-2'>
    {
      skills.map((skill) => (
        <li>
          <Skill
            skillName={skill.skillName}
            logo={skill.logo}
            colors={skill.colors}
          />
        </li>
      ))
    }
  </ul>
</section>
