---
import Skill from './Skill.astro';

import skills from '../data/skills.js';
---

<section class='my-5'>
  <h2 class='text-xl font-semibold'>Skills</h2>
  <ul class='mt-4 flex max-[500px]:flex-col flex-wrap gap-2'>
    {
      skills.map((skill) => (
        <li>
          <Skill
            skillName={skill.skillName}
            logo={skill.logo}
            colors={skill.colors}
          />
        </li>
      ))
    }
  </ul>
</section>
