---
import Skill from './Skill.astro';

const skills = [
  { skillName: 'Python', logo: './python_icon.svg' },
  { skillName: 'Django', logo: './django_fill_icon.svg' },
  { skillName: 'Flask', logo: './flask_icon.svg' },
  { skillName: 'SQL', logo: './sql_icon.svg' },
  { skillName: 'TailwindCSS', logo: './tailwind_icon.svg' },
  { skillName: 'HTML', logo: './html5__icon.svg' },
  { skillName: 'CSS', logo: './css3_icon.svg' },
  { skillName: 'JavaScript', logo: './javascript_icon.svg' },
  { skillName: 'FastAPI', logo: './fastapi_icon.svg' },
  { skillName: 'Git', logo: './git_icon.svg' },
  { skillName: 'Astro', logo: './astro_icon.svg' },
  { skillName: 'RegEx', logo: './regex_icon.svg' },
  { skillName: 'GitHub', logo: './github_icon.svg' },
  { skillName: 'Notion', logo: './notion_icon.svg' },
];
---

<section class='my-5'>
  <h2 class='text-xl font-semibold'>Skills</h2>
  <ul class='mt-4 flex flex-wrap gap-2'>
    {
      skills.map((skill) => (
        <li>
          <Skill skillName={skill.skillName} logo={skill.logo} />
        </li>
      ))
    }
  </ul>
</section>
