---
const { skillName, logo } = Astro.props;
---

<div
  class='p-2 flex items-center gap-x-2 font-medium bg-gray-100 text-gray-900 rounded'
>
  {skillName}
  <img src={logo} alt={skillName} class='w-8' />
</div>
